<ng-container *ngIf="currentCategoryData$ | async as currentCategoryData">
  <div *ngIf="currentCategoryData.data.length > 0" class="task-indicator">
    <div class="progress-container">
      <ng-container *ngFor="let task of currentCategoryData.data; index as i">
        <div
          *ngIf="i < LastItem"
          id="progress-bar_{{ i }}"
          class="progress-bar"
          (click)="selectTask(task, i)"
        >
          <div class="progress-value" id="{{ task.id }}"></div>
          <span
            *ngIf="currentCategoryData.data.length < ItemWithTitle"
            class="task_title"
          >
            {{ task.title }}
          </span>
        </div>

        <div *ngIf="i === LastItem" class="progress-bar-fixed">
          <ng-container>
            <div class="no-click">
              <span class="task_title"
                >+ {{ currentCategoryData.data.length - LastItem }}</span
              >
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>

  <ng-container *ngIf="currentCategoryData.data.length > 0">
    <app-task-manager-box></app-task-manager-box>
  </ng-container>
</ng-container>
