@import "src/theme/theme-variables.scss";

.task-indicator {
  width: 100%;
  overflow: hidden;

  &.pause {
    .progress-value {
      animation-play-state: paused;
    }
  }

  .progress-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 14px 0;
    background: #f3f3f3;
    transition: 1s transform;

    .progress-bar {
      position: relative;
      flex-grow: 1;
      border-radius: 10px;
      margin-right: 14px;
      background-color: rgba(255, 255, 255);
      cursor: pointer;
      transition: ease 0.5s;

      &.bg-grey {
        background: #e5e5e5;
      }

      &.move-right {
        transition-duration: 0ms;
        opacity: 0;
        transform: translateX(200%);
      }

      &.move-left {
        transition: ease 0.5s;
        opacity: 1;
        transform: translateX(0);
      }

      &.scroll-left-100 {
        transform: translateX(-106%);
      }

      &.scroll-left-0 {
        transform: translateX(0%);
      }

      &.flex-0 {
        transition-duration: 0ms;
        flex: 0;
      }

      .progress-value {
        position: absolute;
        width: 0%;
        height: 20px;
        background-image: -webkit-linear-gradient(
          left,
          rgb(228, 228, 228) 0%,
          rgb(228, 228, 228) 50%,
          rgba(255, 255, 255) 50.001%,
          rgba(255, 255, 255) 100%
        );
        background-size: 200%;
        background-repeat: no-repeat;
        animation-timing-function: linear;
        animation-delay: 0.2s;
        animation-duration: 5s;

        &.active {
          animation-name: Loader;
        }

        &.passed {
          background-position: 0 0;
          width: 100%;
        }
      }

      .task_title {
        font-family: AvenirLTStd-Roman;
        font-size: 12px;
        font-weight: normal;
        line-height: 16px;
        position: relative;
        color: $black-1;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .progress-bar:last-child {
      margin: 0;
    }

    .progress-bar-fixed {
      width: 5rem;
      cursor: not-allowed;
      z-index: 2;
      background-color: rgba(243, 243, 243);

      .no-click {
        text-align: center;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}

.mg-r {
  margin-right: 0 !important;
}

// .task-indicator-count {
//   border-radius: 10px;
//   margin: 0 5px;
//   background-color: #fdfdfd;
//   padding: 10px 0;
//   width: 110px;
//   height: 20px;
// }

@keyframes Loader {
  0% {
    background-position: 100% 0;
    width: 0%;
    border-radius: 25px;
    background: rgb(228, 228, 228);
  }
  100% {
    background-position: 0 0;
    width: 100%;
    border-radius: 25px;
    background: rgb(228, 228, 228);
  }
}
