.task-indicator {
  width: 100%;
  overflow: hidden;

  &.pause {
    .progress-value {
      animation-play-state: paused;
    }
  }

  .progress-container {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    background: #f3f3f3;
    transition: 1s transform;
    .progress-bar {
      position: relative;
      flex-grow: 1;
      border-radius: 10px;
      margin: 0 5px;
      background-color: rgba(255, 255, 255, 0.5);
      cursor: pointer;
      transition: ease 2s;

      &.bg-grey {
        background: #e5e5e5;
      }

      .progress-value {
        position: absolute;
        width: 0%;
        height: 20px;
        background-image: -webkit-linear-gradient(
          left,
          rgb(228, 228, 228) 0%,
          rgb(228, 228, 228) 50%,
          rgba(255, 255, 255) 50.001%,
          rgba(255, 255, 255) 100%
        );
        background-size: 200%;
        background-repeat: no-repeat;
        animation-timing-function: linear;
        animation-delay: 0.2s;
        animation-duration: 999s;

        &.active {
          animation-name: Loader;
        }

        &.passed {
          background-position: 0 0;
          width: 100%;
        }
      }

      .task_title {
        position: relative;
        color: #121216;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .progress-bar-fixed {
      width: 5rem;
      cursor: not-allowed;
      z-index: 2;
      background-color: rgba(243, 243, 243);

      .no-click {
        text-align: center;
        border-radius: 10px;
        margin: 0 0 0 5px;
      }
    }
  }
}
.moveleft {
  transform: translateX(-115px);
}
.task-indicator-hidden {
  visibility: hidden;
}

// .display-none {
//   display: none;
// }

// .move-right {
//   transform: translateX(200%);
// }

// .move-left {
//   transform: translateX(0);
// }

@keyframes Loader {
  0% {
    background-position: 100% 0;
    width: 0%;
    border-radius: 25px;
    background: rgb(228, 228, 228);
  }
  100% {
    background-position: 0 0;
    width: 100%;
    border-radius: 25px;
    background: rgb(228, 228, 228);
  }
}
.task-indicator-count {
  border-radius: 10px;
  margin: 0 5px;
  background-color: #fdfdfd;
  padding: 10px 0;
  width: 110px;
  height: 20px;
}
