.category {
  box-sizing: border-box;
  padding: 20px 20px 0 20px;

  .bgicon {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    justify-content: center;
    border: 2px solid #8bc6cd;
    margin: 0 10px;
    position: absolute;
    z-index: 0;
    background: #fff;

    &.paused {
      animation-play-state: paused;
    }
  }

  .bgicon-opacity {
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-name: kfopacity;
  }

  .bgicon:first-child {
    margin-left: 0 !important;
  }

  .border-icon {
    border: solid 2px #188e9b;
  }

  .icon {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    margin: 0 17px 0;
    position: relative;
    z-index: 1;
    cursor: pointer;

    img {
      align-self: center;
    }

    span {
      color: rgb(255, 255, 255);
      font-size: 14px;
      font-weight: 900;
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      height: 20px;
      text-align: center;
      background: #7ed321;
      border-radius: 50%;
      line-height: 20px;
    }
  }

  .icon:nth-child(1n) {
    margin-left: 0 !important;
  }

  .icon-move {
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-name: kfmoved;
  }

  .icon-bgicon-move-left {
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-name: kfmoveleft;
  }

  .icon-pause {
    animation-fill-mode: forwards;
  }

  @keyframes kfopacity {
    from {
      opacity: 1;
      transform: scale(1, 1);
    }

    to {
      opacity: 0;
      transform: scale(0.2, 0.2);
    }
  }

  @keyframes kfmoved {
    from {
      transform: translate(0, 0);
      opacity: 1;
    }

    to {
      transform: translate(-20px, -40px);
      opacity: 0;
    }
  }

  @keyframes kfmoveleft {
    from {
      transform: translate(0, 0);
    }

    to {
      transform: translate(-70px, 0px);
    }
  }
}
