@import "@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "src/theme/theme-variables.scss";

.task-manager-box {
  position: relative;
  overflow: hidden;
  background: #fff;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 15px;

  .task-manager-box_button {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }

  .lottie {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background: rgb(256, 256, 256, 0.9);

    lottie-player {
      display: inline-block;
      width: 320px;
    }
  }
}

@media screen and (max-width: $viewport-md) {
  .task-manager-box_button {
    display: none;
  }
}
