<ng-container *ngIf="category.length > 0">
  <div class="row">
    <div *ngFor="let item of category; index as i" [@flyInOut]="'in'">
      <div  class="bgicon" style="position: absolute"></div>
      <div id="icon-{{ item.id }}"
        *ngIf="item.pendingTask > 0"
        class="icon"
        matTooltip="{{ item.name }}"
        (click)="selectedItem(item)"
      >
        <img src="{{ getIcon(item.id) }}" alt="Category" />
        <span>{{ item.pendingTask }}</span>
      </div>
      <div
        *ngIf="item.pendingTask === 0"
        class="icon"
        matTooltip="{{ item.name }}"
        (click)="removeItem(item)"
      >
        <img src="{{ getIcon(item.id) }}" alt="Category" />
        <span>{{ item.pendingTask }}</span>
      </div>
    </div>
  </div>
</ng-container>
