.row {
  box-sizing: border-box;
  padding: 20px 20px;
  .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    // border: 2px solid #8bc6cd;
    margin: 0 10px;
    position: relative;
    z-index: 1;
    cursor: pointer;    

    img {
      align-self: center;
    }

    span {
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      height: 20px;
      text-align: center;
      background: #7ed321;
      border-radius: 50%;
      line-height: 20px;
    }
  }

  .icon:first-child {
    margin-left: 0;
  }

  .icon:hover {
    // border: 2px solid #188e9b;
  }

  .icon:first-child {
    // border: 2px solid #188e9b;
  }

  .paused {
    animation-play-state: paused;
  }

  .bgicon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    // display: grid;
    justify-content: center;
    border: 2px solid #8bc6cd;
    margin: 0 10px;
    // position: relative;
    // cursor: pointer;
    z-index: 0;
  }

  .bgicon:hover {
    // border: 2px solid #9b184a;
  }

  .bgicon:first-child {
    // border: 2px solid #90c4ca;
  }

  .bgicon-opacity {
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-name: kfopacity;
  }

  .icon-move {        
    animation-duration: 1s;
    animation-timing-function: linear;    
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-name: kfmoved;    
  }
  
  .icon-move-left {        
    animation-duration: 0.5s;
    animation-timing-function: linear;    
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-name: kfmoveleft;    
  }

  .icon-pause {
    animation-fill-mode: forwards;
  }

  .display-none{
    display: none;
  }

  @keyframes kfopacity {
    from {      
      opacity: 1;
      transform: scale(1, 1);
    }
    to {
      opacity: 0;
      transform: scale(0.2, 0.2);
    }
  }
  
  
  @keyframes kfmoved {
    from {
      transform: translate(0, 0);    
      opacity: 1;      
    }
    to {
      transform: translate(-20px, -40px);
      opacity: 0;      
    }
  }

  @keyframes kfmoveleft {
    from {
      transform: translate(0, 0);          
    }
    to {
      transform: translate(-80px, 0px);      
    }
  }
}