<ng-container *ngIf="category.length > 0">
  <div class="row" #categoryContainer>
    <div *ngFor="let item of category">
      <div class="bgicon paused" 
        style="position: absolute" 
        id="bgicon-{{item.id}}"
      ></div>      
      <div
        id="icon-{{ item.id }}"
        *ngIf="item.pendingTask > 0"
        class="icon"
        matTooltip="{{ item.name }}"
        (click)="selectedItem(item)"
      >
        <img src="{{ getIcon(item.id) }}" alt="Category" />
        <span>{{ item.pendingTask }}</span>
      </div>
      <div id="icon-{{ item.id }}"
        *ngIf="item.pendingTask === 0"
        class="icon paused"
        matTooltip="{{ item.name }}"
        (click)="removeItem(item, $event)"
      >
        <img src="{{ getIcon(item.id) }}" alt="Category" />
        <span>{{ item.pendingTask }}</span>
      </div>
    </div>
  </div>
</ng-container>
