<div class="task-content">
  <div class="task-content_card">
    <p class="task-content__paraph">{{ content }}</p>
    <div class="activation-code-form" id="activation-code-id" #activationCode>
      <input
        *ngFor="let number of numbers; let i = index"
        class="activation-code"
        type="number"
        maxlength="1"
        [value]="activationCode"
        (keydown.arrowup)="(false)" (keydown.arrowdown)="(false)"  (keydown.+)="(false)"  (keydown.-)="(false)"  (keydown.dot)="(false)"
        onKeyPress="if(this.value.length==1) return false;"
        (click)='focusCursor()'
      />
    </div>
  </div>
</div>
