button {
  color: #fff;
  box-sizing: border-box;
  padding: 0 12px;
  min-width: 106px;
  min-height: 36px;

  &.primary-emerald:enabled {
    background: #188e9b;
  }
  &.primary-emerald:disabled {
    background: #8bc6cd;
  }
  &.primary-emerald:hover {
    background: #137580;
  }
  &.primary-emerald:focus {
    background: #0f5b63;
  }

  &.primary-yellow:enabled {
    background: #ffed00;
  }
  &.primary-yellow:disabled {
    background: #fff199;
  }
  &.primary-yellow:hover {
    background: #ffdd00;
  }
  &.primary-yellow:focus {
    background: #ffd200;
  }

  &.primary-green:enabled {
    background: #7ed321;
  }
  &.primary-green:disabled {
    background: #eafad7;
  }
  &.primary-green:hover {
    background: #69b516;
  }
  &.primary-green:focus {
    background: #5b9c14;
  }

  &.primary-red:enabled {
    background: #d0021b;
  }
  &.primary-red:disabled {
    background: #ec9aa4;
  }
  &.primary-red:hover {
    background: #ba0118;
  }
  &.primary-red:focus {
    background: #8b0112;
  }

  i {
    font-size: 16px;

    &.fa-spinner {
      animation: spin 2s linear infinite;
      -webkit-animation: spin 2s linear infinite; /* Safari */
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
