.task-indicator {
  &.pause {
    .progress-value {
      animation-play-state: paused;
    }
  }

  .progress-container {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    background: #f3f3f3;

    .progress-bar {
      position: relative;
      // align-items: center;
      flex-grow: 1;
      border-radius: 10px;
      margin: 0 5px;
      background-color: rgba(255, 255, 255, 0.5);
      cursor: pointer;

      .progress-value {
        position: absolute;
        width: 0%;
        height: 20px;
        background-image: -webkit-linear-gradient(
          left,
          rgb(228, 228, 228) 0%,
          rgb(228, 228, 228) 50%,
          rgba(255, 255, 255) 50.001%,
          rgba(255, 255, 255) 100%
        );
        background-size: 200%;
        background-repeat: no-repeat;
        animation-timing-function: linear;
        animation-delay: 0.2s;
        animation-duration: 2s;

        &.bg-grey {
          background: #e5e5e5;
        }

        &.active {
          animation-name: Loader;
        }

        &.passed {
          background-position: 0 0;
          width: 100%;
        }
      }

      .no-click {
        width: 100%;
        cursor: not-allowed;
        z-index: 2;
      }

      .task_title {
        position: relative;
        color: #121216;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}

@keyframes Loader {
  0% {
    background-position: 100% 0;
    width: 0%;
    border-radius: 25px;
    background: rgb(228, 228, 228);
  }
  100% {
    background-position: 0 0;
    width: 100%;
    border-radius: 25px;
    background: rgb(228, 228, 228);
  }
}
