.task_title {
  color: #121216;
}
.progress-container {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  cursor: pointer;
  background: #f3f3f3;
  border-radius: 10px;
}

.progress-bar {
  height: 20px;
  flex-grow: 1;
  border-radius: 10px;
  margin: 0 5px;
  display: flex;
  background-image: -webkit-linear-gradient(
    left,
    rgb(228, 228, 228) 0%,
    rgb(228, 228, 228) 50%,
    rgba(255, 255, 255) 50.001%,
    rgba(255, 255, 255) 100%
  );
  background-repeat: no-repeat;
  background-size: 200%;
  background-color: #666;
  background-position: 100% 50%;
  animation-timing-function: linear;
  animation-delay: 0.2s;
}

.progress-bar.active {
  animation-name: Loader;
}

.progress-bar.passed {
  background-position: 0 0;
}

@keyframes Loader {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.pause:hover .progress-bar {
  animation-play-state: paused;
}

.pause .not-hovered {
  display: block;
}
.pause .hovered {
  display: none;
}

.pause:hover .not-hovered {
  display: none;
}
.pause:hover .hovered {
  display: block;
}

body {
  background: #121216;
  padding: 50px;
  width: 100vw;
  color: #fff;
  font-family: sans-serif;
}
