<ng-container *ngIf="currentTask[0].data.length > 0">
  <div class="pause">
    <div class="progress-container" #progressContainer>
      <div
        *ngFor="let task of currentTask[0].data; index as i"
        
        class="progress-bar"
      >
        <div *ngIf="i < 10" class="progress-value" style="animation-duration: 2s" id="{{ task.id }}">
          <span *ngIf="currentTask[0].data.length < 7" class="task_title">{{
            task.title
          }}</span>
        </div>

        <div *ngIf="i === 9">
          <span class="task_title">+ {{ currentTask[0].data.length - i }}</span>
        </div>
      </div>
    </div>

    <br />
  </div>
</ng-container>

<ng-container *ngIf="taskContent.length > 0">
  <app-task-manager [data]="taskContent"></app-task-manager>
</ng-container>
