// Dimensions
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.position-relative {
  position: relative;
}

/* Typography */
.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin truncate() {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Semantic messages */
.message {
  font-size: 0.75rem;

  &--error {
    color: red;
  }

  &--success {
    color: green;
  }

  &--warning {
    color: orange;
  }

  &--info {
    color: lightblue;
  }
}

.icon-small {
  width: 24px;
}

/* Box shadows */
@mixin box-shadow-nearest($blur: 3px) {
  box-shadow: 0 $blur 6px 0 rgba(0, 0, 0, 0.24);
}

@mixin box-shadow-further {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}

@mixin box-shadow-furthest($blur: 24px) {
  box-shadow: 0 $blur 24px 0 rgba(0, 0, 0, 0.16);
}
