.task-content {
  width: 65%;
  float: right;
  height: 400px;
  position: relative;

  .task-content_card {
    height: 325px;
    background: #ffd8d6;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .task-content__button {
    position: absolute;
    bottom: 0;
    right: 0;

    .btn-primary-action {
      width: 110px;
      border-radius: 20px;
      background: #8bc6cd;
    }
  }
}
