@import "src/theme/theme-variables.scss";

.task-title {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  .task-title_card {
    background: #dbf7e0;
    height: 400px;
    position: relative;

    h1 {
      text-align: center;
      font-weight: 500;
    }

    .task-title__button {
      position: absolute;
      bottom: 0;
      left: 0;

      button {
        width: 2.1875rem;
        height: 2.1875rem;
        background-color: #8bc6cd;
        margin: 0 2px;
      }
      button:first-child {
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: $viewport-md) {
  .task-title {
    .task-title_card {
      height: auto;
      background: transparent;

      .task-title__button {
        display: none;
      }
    }
  }
}

@media screen and (min-width: $viewport-md + 1) {
  .task-title {
    width: 30%;
  }
}
