<div class="task-manager">
  <ng-container *ngIf="currentTask$ | async as currentTask">
    <app-task-title [title]="currentTask.title"></app-task-title>

    <app-task-content
      [content]="currentTask.content"
      [img]="currentTask.img"
    ></app-task-content>
  </ng-container>

  <ng-container *ngIf="isCompleted$ | async">
    <div class="lottie">
      <lottie-player
        autoplay
        loop
        mode="normal"
        src="/assets/lottie/lottie-check-success.json"
        style="width: 320px"
      >
      </lottie-player>
    </div>
  </ng-container>
</div>
