<div class="container-fluid wrapper">
  <ng-container *ngIf="categories$ | async as categories">
    <app-category
      *ngIf="categories.length > 0"
      [category]="categories"
    ></app-category>

    <div *ngIf="categories.length === 0">
      <img src="../assets/icons/Nothing.png" alt="Nothing" />
    </div>
  </ng-container>

  <ng-container *ngIf="currentTask$ | async as currentTask">
    <app-task-indicator
      *ngIf="currentTask.data.length > 0"
      [currentTask]="currentTask"
    ></app-task-indicator>
  </ng-container>
</div>
<div *ngIf="errorMessage$ | async as errorMessage"
     class="alert alert-danger">
  Error: {{ errorMessage }}
</div>